@model VmHome
@{
    ViewData["Title"] = "Index";

    VmBannerPartial bannerPartial = new VmBannerPartial()
    {
        Title = "News",
        Breadcrum = "Blog"
    };
}

<partial name="_bannerPartial" model="@bannerPartial" />

<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">

                    @await Component.InvokeAsync("VcNews", new { page = "News" })

                </div> <!-- .row -->
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-block">
                        <h3 class="sidebar-title">Search</h3>
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                                <button type="submit" class="btn"><span class="icon mai-search"></span></button>
                            </div>
                        </form>
                    </div>
                    <div class="sidebar-block">
                        <h3 class="sidebar-title">Categories</h3>
                        <ul class="categories">
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="#">@item.Name <span>@item.Blogs.Count</span></a></li>
                            }
                        </ul>
                    </div>

                    @await Component.InvokeAsync("RecentBlog")

                    <div class="sidebar-block">
                        <h3 class="sidebar-title">Tag Cloud</h3>
                        <div class="tagcloud">
                            @foreach (var item in Model.Tags)
                            {
                                <a href="#" class="tag-cloud-link">@item.Name</a>
                            }
                        </div>
                    </div>

                    <div class="sidebar-block">
                        <h3 class="sidebar-title">Paragraph</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>
            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .page-section -->